<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- http://mybatis.github.io/mybatis-3/ko/configuration.html -->
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="lazyLoadingEnabled" value="true" />
		<setting name="aggressiveLazyLoading" value="false" />
		<setting name="multipleResultSetsEnabled" value="true" />
		<setting name="useColumnLabel" value="true" />
		<setting name="useGeneratedKeys" value="false" />
		<setting name="autoMappingBehavior" value="PARTIAL" />
		<setting name="defaultExecutorType" value="SIMPLE" />
		<setting name="defaultStatementTimeout" value="600" />
		<setting name="safeRowBoundsEnabled" value="false" />
		<setting name="mapUnderscoreToCamelCase" value="false" />
		<setting name="localCacheScope" value="SESSION" />
		<setting name="jdbcTypeForNull" value="VARCHAR" />
		<setting name="lazyLoadTriggerMethods" value="" />
		<setting name="safeResultHandlerEnabled" value="false" />
		<setting name="callSettersOnNulls" value="true"/>
		<setting name="returnInstanceForEmptyRow" value="true"/>
	</settings>
	<typeAliases>	
		<typeAlias alias="parameterMap" type="java.util.HashMap" />
		<typeAlias alias="conditionMap" type="java.util.HashMap" />
	</typeAliases>
 </configuration>